<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EBusinessConnectionString" connectionString="Data Source=.;Initial Catalog=MediPOS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MediPOS.UI.Properties.Settings.EBusinessConnectionString" connectionString="Data Source=.;Initial Catalog=MediPOS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MediPOS.Reports.Properties.Settings.EBusinessConnectionString" connectionString="Data Source=.;Initial Catalog=MediPOS;Integrated Security=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="EBusinessConnectionString" value=""/>
    <add key="UseItemNames" value="False"/>
    <add key="UseCompanyNames" value="true"/>
    <add key="UseCustomerNames" value="True"/>
    <add key="AcceptReturnInItemCombo" value="True"/>
    <add key="EnableEntryTimeEditing" value="True"/>
    <add key="ShowPurchasePrice" value="False"/>
    <add key="AllowShortStockSelling" value="True"/>
    <add key="IsCashAddressRequired" value="True"/>
    <add key="DatabaseBackupLocation" value="E:\DBBackups"/>
    <add key="ShowDashBoard" value="False"/>
    <add key="ShowModelDialogs" value="True"/>
    <add key="FilterByName" value="True"/>


  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
