<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EBusinessConnectionString" connectionString="Data Source=.\SQLexpress;Initial Catalog=EBusiness;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MediPOS.Reports.Properties.Settings.EBusinessConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=EBusiness;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="EBusinessConnectionString" value=""/>
    <add key="UseItemNames" value="False"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
